@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-image: url(img/bg_mobile.png);
    }

    .offer {
        padding-top: 238px;
        text-align: center;

        &_title {

            font-size: 32px;
            line-height: 39px;
        }

        &_subtitle {
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 32px;

            &__span {
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    .br_style {
        display: none;
    }

    .game {
        width: 343px;
        grid-column: 1;
    }

    .game_one {
        background-image: url(img/game1_mobile.png);
    }

    .game_two {
        background-image: url(img/game2_mobile.png);
    }

    .game_three {
        background-image: url(img/game3_mobile.png);
    }

    .seasons {
        flex-wrap: wrap;
        gap: 0;



        &_offer {
            text-align: center;

            padding-top: 51px;
            padding-bottom: 64px;

        }

        &_title {
            font-size: 32px;
            line-height: 39px;
        }

        &_subtitle {
            font-size: 14px;
        }


    }

    picture {
        padding-top: 0;
        padding-bottom: 85px;
    }

    .world {
        flex-direction: column-reverse;
    }

    .endGame {
        background-image: url(img/gameEndmobile.png);
    }

    .end_subtitle {
        font-size: 14px;
        line-height: 22px;
    }

    .footer {
        border: none;
    }
}